body {
    background-color: #0f172a;
    color: white;
    text-align: center;
    font-family: Arial;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}
